# IntelliJ IDEA project folder
.idea

# Vagrant VM folder
.vagrant

# Code coverage reports
coverage

# Node dependencies
node_modules

# Logs
/npm-debug.log

# Custom environment data
.env.yml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
