# IntelliJ IDEA project folder
.idea

# Vagrant VM folder
.vagrant

# Code coverage reports
coverage

# Node dependencies
node_modules

# Logs
/npm-debug.log

# doc git submodul -- from github repository's wiki
/doc
